nt-app-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

/* .main-grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: ". . ." ". main ." ". . .";    
} */

button {
    border: 2px double black;
    background-color: #D9D9D9;
    font-size: 1.2rem;
    cursor: pointer;
}

/* For Mobile */
.homepage, .endpage , .drawModal {
    grid-area: main;
    border: 10px double black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 40% 10% 30%;
}

.homepage-title, .drawModal-title{
    grid-row: 2/3;
    grid-column: 2/5;
    
    font-size: 1.3rem;
    text-align: center;
    color: #D9D9D9;
    margin: 0;
}

.endpage-title {
    grid-row: 2/4;
    grid-column: 2/5;
    
    font-size: 1.5rem; 
    text-align: center;
    color: #D9D9D9;
    margin: auto; 
}


.homepage-start-button, .drawModal-yes-button {
    grid-row: 3/4;
    grid-column: 2/5;
    width: 100%;
    height: 100%;
}

.drawModal-no-button {
    grid-row: 4/5;
    grid-column: 2/5;

    width: 100%;
    height: 47px;
    margin-top: 10%;
}

.game {
    grid-row: 1/4;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 5% 40% 5% auto;
    grid-template-areas: "top top" "board board" "board board" "resign draw" "bottom bottom";
}

.game-resign-button, .game-draw-button { width: 100%; height: 100%; }

.game-resign-button { grid-area: resign; }

.game-draw-button { grid-area: draw; }

.whiteTurn, .blackTurn {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2rem;    
}

.whiteTurn { grid-area: bottom; padding-top: 10%}

.blackTurn { grid-area: top; padding-top: 10%;}

.board {
    grid-area: board;
    border: 2px double black;
    
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.board div{
    width: 100%;
    height: 100%;
    margin: 0;
}

.board div:nth-child(-2n+8),
.board div:nth-child(8) ~ div:nth-child(-2n+15), 
.board div:nth-child(16) ~ div:nth-child(-2n+24), 
.board div:nth-child(24) ~ div:nth-child(-2n+31), 
.board div:nth-child(32) ~ div:nth-child(-2n+40), 
.board div:nth-child(40) ~ div:nth-child(-2n+47), 
.board div:nth-child(48) ~ div:nth-child(-2n+56), 
.board div:nth-child(56) ~ div:nth-child(-2n+63) {
    background-color: #ba7a3a;
}

.no-piece { background-color: #F0D2B4; }

.white-piece, .black-piece {
    width: 75%;
    height: 75%;
    margin: 7px auto;
    border-radius: 50%;
    border: 3px solid red;
}

.black-piece{ background-color: black; }

.white-piece { background-color: white; }

.king { border: 3px solid yellow; }

/* Ask Arie why the border color does not change and why div for piece doesnt work */
.selected-piece {
    border: 1px solid green;
}


/* For Bigger Screens */
@media (min-width: 30rem) {
    .main-grid-container {
        display: grid;
        max-width: 100vw;
        height: 100vh;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 20% 60% 20%;
        grid-template-areas: ". . ." ". main ." ". . .";    
    }

    button { font-size: 1.5rem; }
    
    .homepage-title, .drawModal-title { font-size: 1.8rem; margin: auto; }

    .endpage-title { font-size: 2.5rem; }
    
    .homepage-start-button, .drawModal-yes-button {
        grid-row: 3/4;
        grid-column: 2/5;
    
        width: 100%;
        height: 50px;
        background-color: #D9D9D9;
        border: 2px double black;
    }

    .drawModal-no-button {
        margin-top: 2%;
        height: 46px;
    }

    .game {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 60% 10% 30%;
        grid-template-areas: "board board" "resign draw " "whiteTurn blackTurn";
    }

    .board {
        height: 60vh;
        width: 60vh;
        margin: 0 auto;
    }

    .game-resign-button, .game-draw-button, .whiteTurn, .blackTurn { width: 30vh; height: 8vh } 

    .game-draw-button { margin: 10px auto 10px 0; } 

    .game-resign-button { margin: 10px 0 10px auto; } 

    .whiteTurn, .blackTurn {
        text-align: center;
        font-size: 2rem;
        padding: 10px;    
    }
    
    .whiteTurn { 
        grid-area: whiteTurn; 
        margin: 10px 0 10px auto;; 
        border-right: 2px solid black;
    }
    
    .blackTurn { 
        grid-area: blackTurn; 
        margin: 10px auto 10px 0;; 
        border-left: 2px solid black;
        
    }
}
