:root {
  --cell-height : 50px;
  --cell-width : 50px;
  --cell-border-radius : 0.4rem;
  --cell-gamepiece-height : 40px;
  --cell-gamepiece-width : 40px;
  --cell-gamepiece-border-radius : 0.4rem;
}

.nt-board-container {
	 width: 500px;
	 margin: 50px auto 0 auto;
}
 .row {
	 height: 50px;
	 margin-bottom: 5px;
}
 .row:nth-child(odd) .cell:nth-child(odd) {
	 background-color: #ddd;
}
 .row:nth-child(odd) .cell:nth-child(even) {
	 background-color: transparent;
}
 .row:nth-child(even) .cell:nth-child(even) {
	 background-color: #ddd;
}
 .row:nth-child(even) .cell:nth-child(odd) {
	 background-color: transparent;
}
 .cell {
	 height: var(--cell-height);
	 width: var(--cell-width);
	 display: inline-block;
	 border: 1px solid #ddd;
   border-radius: var(--cell-border-radius);
	 margin-right: 5px;
}
 .cell .gamePiece {
	 width: var(--cell-gamepiece-width);
	 height: var(--cell-gamepiece-height);
	 margin: 5px 0 0 5px;
	 border-radius: var(--cell-gamepiece-border-radius);
	 cursor: pointer;
	 position: relative;
}
 .cell .gamePiece:after {
	 content: ' ';
	 position: absolute;
	 right: 0;
	 top: -5px;
	 height: 38px;
	 width: 38px;
	 border-radius: 40px;
	 pointer-events: none;
}
 .cell.cell-b .gamePiece {
	 background-color: #444;
}
 .cell.cell-b.k .gamePiece:after {
	 background-color: #444;
	 border: 1px solid white;
}
 .cell.cell-w .gamePiece {
	 background-color: #e26b6b;
}
 .cell.cell-w.k .gamePiece:after {
	 background-color: #e26b6b;
	 border: 1px solid white;
}
 .cell.cell-ab .gamePiece, .cell.cell-aw .gamePiece {
	 background-color: #6a6aff;
	 box-shadow: 0px 0px 24px #2983f3;
}
 .cell.cell-ab.k .gamePiece:after, .cell.cell-aw.k .gamePiece:after {
	 background-color: #6a6aff;
	 border: 1px solid white;
}
 .cell.cell-h {
	 background-color: #6a6aff !important;
}
 .cell.m .gamePiece {
	 background-color: green;
}
 .board.w .cell-b .gamePiece {
	 opacity: 0.7;
}
 .board.b .cell-w .gamePiece {
	 opacity: 0.7;
}
 .board {
	 float: left;
	 transition-duration: 0.8s;
	 transition-property: transform;
}
 